{% extends 'base.html' %}
{% load i18n  %}

{% block title %}{% trans "Let's talk about you" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <h1>{% trans 'Tell about yourself' %}</h1>
            <p>{% trans 'To use this application we need to know you.' %}</p>
            <p>{% trans 'it is anonymous information of course and stored in your cookies.' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans "Submit" %}" class="btn btn-default">
            </form>
        </div>
    </div>
{% endblock %}